/* SET UP */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, .box{
    background-color: lightcyan;
    color: darkcyan;
    font-family: sans-serif;
}
main{
    border: 4px solid black;
    max-width: 1300px;
    margin: 0 auto;
}
section{
    border: 4px solid darkcyan;
    background-color: white;
    border-radius: 10px;
    margin:  20px auto;
    min-height: 90vh;
}